@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant SC', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, rgb(0, 255, 242), rgb(105, 192, 207), rgb(62, 127, 189), rgb(134, 119, 221));
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(free\ fire.jpg) no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0,.7);
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bold;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 25px;
}


#horas, #minutos, #segundos {
    font-size: 100px;
    color: aqua;
}


